<div class="row">
	<div class="col-xs-3">

		<h2>User info</h2>
		<%= render 'users/profile', user: @book.user %>

		<h2>New book</h2>
		<%= render 'books/newform', book: @newbook %>

	</div>

	<div class="col-xs-9">
		<h2>Book detail</h2>

		<table class="table">
				<tr>
					<td>
						<%= link_to @book.user do %>
						<%= attachment_image_tag(@book.user, :profile_image, :fill, 100, 100, fallback: "no-image-mini.jpg") %><br>
						<%= @book.user.name %>
						<% end %>
					</td>
					<td><%= link_to @book.title %></td>
					<td><%= @book.body %></td>
					<% if @book.user == current_user %>
						<td><%= link_to "Edit", edit_book_path(@book), class: "btn-sm btn-success" %></td>
						<td><%= link_to "Destroy", @book, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger" %></td>
					<% end %>
				</tr>
			</table>

		<h2>Comments index</h2>
			<table class="border-none">
				<% @book.book_comments.each do |comment| %>
					<tr>
						<td>
							<%= attachment_image_tag current_user, :profile_image, size:"60x60", format: 'jpeg', fallback: "no_image.jpg" %>
							<%= current_user.name %>
						</td>
						<% if book.favorited_by?(current_user) %>
							<td>
								<%= link_to book_favorite_path(book), method: :delete do %>
			     				    <i class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></i>
			      					<%= book.favorites.count %> いいね
			      				<% end %>
			      			</td>
	      				<% else %>
		      				<td>
			      				<%= link_to book_favorite_path(book), method: :post do %>
			      					<i class="glyphicon glyphicon-heart" aria-hidden="true"></i>
			      					<%= book.favorites.count %> いいね
								<% end %>
							</td>
						<% end %>
						<td><%= comment.comment %></td>
						<!-- ↑↑↑カッコ内書き方解説。。。変数.カラム名の順 %> -->
						<% if @book.user == current_user %>
						<td><%= link_to "Destroy", book_book_comments_path(book_id: @book, comment_id: comment.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger" %>
						</td>
						<% end %>
					</tr>
				<% end %>
			</table>

		<div class ="comment-form col-xs-9">
			<%= form_for [@book, @book_comment] do |f| %>
	        <%= f.text_area :comment, size: "80x5", class: "book_comment" %>
	    	<%= f.submit "送信", class: "btn btn-sm btn-success" %>
	    </div>
			<% end %>
	</div>



